
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid red;



}

.item {
    height: 60px;
    width: 40px; 
    background-color: darkgray;
    margin: 1em;
    border: 2px solid red;
    text-align: center;
}