/* Use flexbox to align the divs in a row. Reverse the order of the divs. */

.container {
    width: inherit;
    height: inherit;
    background-color: white;
    display: flex;
    flex-wrap: nowrap;
}

div {
    height: 100px;
    width: 150px;
    background-color: darkgray;
    margin: 1em;
    border: 2px solid red;
    text-align: center;
}
